<li class="list-group-item commentDiv" style="margin-left: 10px;">
    <p>{{this.content}}</p>
    <h6>{{this.author.username}}</h6>
    {{#if @root.authenticatedUser}}
    <form action="/posts/{{this.post}}/comments/{{this._id}}/replies/" method="POST">
        <input type="text" name="content" placeholder="Reply as {{@root.authenticatedUser.username}}">
        <input type="hidden" name="author" value="{{@root.authenticatedUser._id}}">
        <input type="hidden" name="post" value="{{this.post}}">
    </form>
    {{/if}}
    {{#each this.comments}}
    {{> comments}}
    {{/each}}
</li>