<h1>Hey there, this is {{user.username}}'s profile page!</h1>
<h5>{{user.username}}'s posts:</h5>
<ul class="list-group">
    {{#each user.posts}}
    <a class="list-group-item" href="/posts/{{this._id}}">
        <h3>{{this.title}}</h3>
        <p>{{this.createdAt}}</p>
        {{#ifEquals ../authenticatedUser._id ../user._id}}
        <form action="/posts/{{this._id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
        {{/ifEquals}}
    </a>
    {{/each}}
</ul>
<h5>{{user.username}}'s comments:</h5>
<ul class="list-group">
    {{#each user.comments}}
    <a class="list-group-item" href="/posts/{{this.post._id}}">
        <h3>{{this.content}}</h3>
        <p>{{this.createdAt}}</p>
        {{#ifEquals authenticatedUser._id user._id}}
        <form action="/posts/{{this.post}}/comments/{{this._id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete Comment</button>
        </form>
        {{/ifEquals}}
    </a>
    {{/each}}
</ul>